.micro-slats {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slats-frame {
  width: 100%;
  position: relative;
  background: #120f17;
}

.slats-stage {
  width: 100%;
  height: 600px;
  position: relative;
}
